/bootstrap/compiled.php
/vendor
composer.phar
# composer.lock
.env.*.php
.env.php
/app/config/dev/*
/app/config/stating/*
/app/config/production/*

CONTRIBUTING.md
_ide_helper.php

.idea
.DS_Store
Thumbs.db
