<div class="content">
	<div class="container">
		<div class="row">

			<div class="col-sm-3">

				<aside ng-if="!viewer" id="login" class="pane pane-default">
					<header class="pane-heading">

						<h3 class="pane-title">Login</h3>

					</header>
					<div class="pane-body" ng-include="'assets/templates/login.html'" ng-controller="LoginController"></div>
				</aside>

			</div>

			<div class="col-sm-6">


			</div>

			<div class="col-sm-3">

				<klubitus-shouts></klubitus-shouts>

				<klubitus-newsfeed></klubitus-newsfeed>

			</div>

		</div>
	</div>
</div>
